.news-header {
  height: 300px;
  background: top right / 100% no-repeat;
  background-size: cover;
  background-image: url("/images/news-header.svg");
  h1 {
    margin-top: 100px;
    text-align: center;
    font-weight: 600;
    font-size: 50px;
    line-height: 60px;
    color: #ffffff;
  }
}
.news-content {
  overflow: hidden;
  padding: 40px 130px 0 130px;
  .news-list {
    padding-bottom: 40px;
    .news-card {
      display: flex;
      height: 200px;
      margin-top: 40px;
      padding: 30px;
      background: #ffffff;
      border: 1px solid #eff1f1;
      border-radius: 10px;
      color: #242e42;
      &:hover {
        border: 1px solid #326bf6;
        box-shadow: 0px 10px 30px rgba(36, 46, 66, 0.07);
      }
      .card-content {
        flex: 1;
        h2 {
          font-weight: 600;
          font-size: 20px;
          line-height: 30px;
        }
        .summary {
          margin-top: 16px;
          font-size: 14px;
          line-height: 24px;
          p {
            @extend .text-ellip-2;
          }
        }
        .info {
          margin-top: 26px;
          font-size: 14px;
          line-height: 20px;
          color: #79879c;
        }
      }
      .picture {
        width: 300px;
        height: 128px;
        margin-left: 60px;
        object-fit: cover;
        border-radius: 10px;
      }
    }
  }
}
@media screen and (max-width: 768px) {
  .news-header {
    height: auto;
    padding-bottom: 2rem;
    background-image: url("images/common/header-bg-mb.svg");
    h1 {
      margin-top: 2rem;
      font-size: 1.83rem;
      line-height: 2rem;
    }
  }
  .news-content {
    padding: 0.67rem 1.67rem 0;
    background-color: #ffffff;
    .news-list {
      .news-card {
        height: auto;
        margin-top: 0;
        padding: 1.33rem 0;
        border-radius: 0;
        border: 0;
        border-bottom: 1px solid #eff1f1;
        .card-content {
          h2 {
            font-size: 1.17rem;
            line-height: 1.63rem;
          }
          .summary {
            display: none;
          }
          .info {
            display: none;
          }
        }
        .picture {
          width: 9.33rem;
          height: 5.25rem;
          margin-left: 1rem;
          border-radius: 0.33rem;
        }
      }
    }
  }
}
