.news-single-header {
  width: 100%;
  height: 98px;
  background: top right / 100% no-repeat url("/images/post-header-bg.svg");
}
.news-single-container {
  padding: 40px 130px;
  font-size: 16px;
  line-height: 24px;
  .breadcrumb {
    a {
      color: #79879c;
    }
  }
  .news-single-content {
    margin-top: 40px;
    padding: 60px;
    background-color: #ffffff;
    background: #ffffff;
    border-radius: 10px;
    .author {
      font-weight: 500;
      font-size: 16px;
      line-height: 20px;
    }
    .date {
      margin-top: 8px;
      font-size: 14px;
      line-height: 20px;
      color: #79879c;
    }
    .title {
      margin-top: 30px;
      font-weight: 600;
      font-size: 36px;
      line-height: 50px;
    }
    .md-content {
      margin-top: 10px;
      overflow: auto;
    }
  }
}
@media screen and (max-width: 768px) {
  .fixed {
    .news-single-header {
      position: fixed;
      top: 0;
      height: 4.17rem;
      z-index: 3;
      border-bottom: 1px solid rgba(#ffffff, 0.5);
      box-shadow: 0px 8px 30px rgba(#326bf6, 0.2);
      .nav-container {
        padding-top: 0.83rem;
      }
    }
    .news-single-container {
      margin-top: 4rem;
    }
  }
  .news-single-header {
    height: auto;
    background-image: url("images/common/header-bg-mb.svg");
  }
  .news-single-container {
    padding: 1.33rem 1.67rem;
    font-size: 1rem;
    .breadcrumb {
      flex-wrap: wrap;
    }
    .news-single-content {
      width: 100%;
      background-color: transparent;
      margin-top: 1.33rem;
      padding: 0;
      .author {
        font-size: 1.17rem;
        line-height: 1.63rem;
      }
      .date {
        font-size: 1rem;
        line-height: 1.4rem;
      }
      .title {
        font-size: 1.67rem;
        line-height: 2.33rem;
      }
    }
  }
}
