{{ define "header" }}
<header class="project-header">
  {{ partial "site-navigation.html" . }}
  <h1><span>{{ .Params.short }}</span></h1>
  <h2>{{ .Params.subtitle }}</h2>
  <h3 class="h-center">{{ .Params.description }}</h3>
  <div class="flex-row space-center">
    <a class="btn start flex-row fl-center" href="{{ .Params.start_url }}">
      <span>{{ i18n "start"}}</span>
      <img src="/images/common/right-white.svg" />
    </a>
    <a class="btn github flex-row fl-center" href="{{ .Params.github_url }}">
      <img src="/images/common/github-black.svg" />
      <span>GitHub</span>
    </a>
  </div>
</header>
{{ end }}

{{ define "main" }}
<div class="project-content">
  <section class="features">
    <h1>{{ i18n "mainFeature" }}</h1>
    <div class="feature-list">
      {{ range .Params.features }}
      <div class="feature-card">
        <img src="{{ .picture }}" />
        <div class="content">
          <h3>{{ .title }}</h3>
          <p>{{ .description }}</p>
        </div>
      </div>
      {{ end }}
    </div>
  </section>
  {{ with .Params.fast_start }}
  <section class="start">
    <h1>{{ i18n "quickStart" }}</h1>
    <div class="links flex-row space-center">     
      {{ with .operator }}
      <div>
        <h3 class="h-center bg-title">Operator</h3>
        <div class="flex-column text-center">
          {{ range . }}
          <a href="{{ .url }}">{{ .text }}</a>
          {{ end }}
        </div>
      </div>
      {{ end }}
      {{ with .helm }}
      <div>
        <h3 class="h-center bg-title">Helm</h3>
        <div class="flex-column text-center">
          {{ range . }}
          <a href="{{ .url }}">{{ .text }}</a>
          {{ end }}
        </div>
      </div>
      {{ end }}
      {{ with .reading }}
      <div>
        <h3 class="h-center bg-title">{{ i18n "read" }}</h3>
        <div class="flex-column  text-center">
          {{ range . }}
          <a href="{{ .url }}">{{ .text }}</a>
          {{ end }}
        </div>
      </div>
      {{ end }}
      {{ with .installation }}
      <div>
        <h3 class="h-center bg-title">{{ i18n "deploy" }}</h3>
        <div class="flex-column  text-center">
          {{ range . }}
          <a href="{{ .url }}">{{ .text }}</a>
          {{ end }}
        </div>
      </div>
      {{ end }}
    </div>
  </section>
  {{ end }}
  <section class="flex-row architecture">
    <img src="{{ .Params.architecture.picture }}" />
    <div class="content">
      <div class="flex-row space-center">
        <h1>{{ i18n "architecture" }}</h1>
      </div>
      <ul>
        {{ range .Params.architecture.intros }}
        <li>{{ . }}</li>
        {{ end }}
      </ul>
    </div>
    <div class="decoration-top"></div>
    <div class="decoration-left"></div>
    <div class="decoration-right"></div>
    <div class="decoration-bottom"></div>
    <div class="decoration-bottom-2"></div>
    <div class="decoration-top-2"></div>
  </section>
  {{ with .Params.roadmap }}
  <section class="roadmap">
    <h1>Roadmap</h1>
    <div class="flex-row space-around content">
      {{ range . }}
      <div>
        <h3 class="bg-title">{{ .title }}</h3>
        <ul>
          {{ range .content }}
          <li>{{ . }}</li>
          {{ end }}
        </ul>
      </div>
      <div class="flex-row fl-center vector"><img src="/images/common/vector.svg" /></div>
      {{ end }}
    </div>
  </section>
  {{ end }}
  {{ $related := .Site.RegularPages.Related . }}
  {{ with $related }}
  <section class="blog">
    <h2 class="title-h2">
      <span>{{ i18n "docs"}}</span>
    </h2>
    <div class="blog-list">
      {{ range .ByDate.Reverse | first 3 }}
      <a class="blog-card" href="{{ .RelPermalink }}">
        <img class="picture" src="{{ .Params.picture }}" />
        <div class="content">
          <div class="title">{{ .Title }}</div>
          <div class="info">
            <div class="flex-row fl-center"><img src="/images/common/person.svg" /><span>{{ .Params.Author }}</span>
            </div>
            <div class="flex-row fl-center"><img src="/images/common/time.svg" /><span>{{ .Date.Format "2006.01.02"
                }}</span></div>
          </div>
          <div class="summary">
            {{ .Summary | default (replace .RawContent "<!--more-->" "") }}
          </div>
        </div>
      </a>
      {{ end }}
    </div>
  </section>
  {{ end }}
</div>
{{ end }}