{{ define "header" }}
<header class="post-header">
  {{ partial "site-navigation.html" . }}
</header>
{{ end }}

{{ define "main" }}
<div class="post-container">
  <div class="breadcrumb flex-row fl-center">
    <a href="/posts">技术博客</a>
    <span style="padding: 0 10px;">></span>
    <span>{{ .Title }}</span>
  </div>
  <div class="flex-row">
    <div class="post-page">
      <div class="flex-row fl-bottom space-between">
        <div>
          <div class="author">{{ .Params.author }}</div>
          <div class="date">发布于{{ .Date.Format "2006.01.02" }}</div>
        </div>
        <div class="flex-row">
          {{ with .Params.tags }}
          {{ range . }}
          <div class="post-tag">{{ . }}</div>
          {{ end }}
          {{ end }}
        </div>
      </div>
      <div class="title">{{ .Title }}</div>
      <div class="md-content">{{ .Content }}</div>
    </div>
    <div class="catalog-container">
      <div class="catalog">
        <h1>目录</h1>
        {{ .TableOfContents }}
      </div>
    </div>
  </div>
  <button id="backTop" class="btn back-top" onclick="backTop()">
    <span class="image"></span>
  </button>
</div>
{{ $js := resources.Get "js/post.js" | js.Build (dict "target" "es5") }}
<script src="{{ $js.RelPermalink }}"></script>
{{ end }}