<div class="right-panel">
  {{ if .Params.pdf }}
  <a class="href flex-row fl-center" href="{{.Params.pdf}}" download="{{.Title}}.pdf"><img src="/images/common/pdf.svg" /><span>下载PDF</span></a>
  {{ else }}
  <div class="href flex-row fl-center grey"><img src="/images/common/pdf.svg" /><span>下载PDF</span></div>
  {{ end }}
  <a class="href flex-row fl-center" target="_blank" href="https://github.com/radondb/website/issues/new?body=File: [{{.RelPermalink}}](https://github.com/radondb/website/content/{{.Language}}{{.RelPermalink}})"><img src="/images/common/feedback.svg" /><span>反馈文档问题</span></a>
  <div class="catalog">
    <div class="title">本页目录</div>
    <div>{{ .TableOfContents }}</div>
  </div>
</div>