<div class="modal contribute-modal">
  <div class="mask" onclick="hideModal()"></div>
  <div class="modal-body">
    <div class="close" onclick="hideModal()"></div>
    <div class="modal-content">
      <h1>征稿细则</h1>
      <h2>一、征稿文章技术范围</h2>
      <p>RadonDB 开源项目、云原生数据库相关、数据库容器化相关、MySQL、PostgreSQL、Redis、MongoDB、ClickHouse ……</p>
      <h2>二、稿件要求</h2>
      <p>稿件来源、原创首发、国外优秀博文翻译、优质内容转载、文章格式 .md/.doc/、内容可用性、保证代码完整、保证图片素材清晰、标注图片素材来源、标注文中引用参考内容来源，稿件命名格式：[投稿]+姓名+文章标题</p>
      <h2>三、发表流程</h2>
      <p>初审：题材内容是否符合决定是否收用<br />复审：判断文章技术观点正确性和深度，收集作者信息<br />编辑：调整版式和结构，审核优化素材<br />发布：根据社区内容排期发布</p>
      <h2>四、投稿途径</h2>
      <p>邮箱投递，投稿邮箱：radondb0913@163.com<br />直接在微信公众号后台留言<br />联系管理员微信（radondb）沟通</p>
    </div>
  </div>
</div>