<footer class="footer" role="contentinfo">
  <div class="content flex-row space-between">
    <div class="hide">
      <div class="column-head" onclick="toggleSiblingClass(this,'hide')"><span>开源项目</span><span class="mb folder"></span></div>
      <div class="column-content">
        {{ $projects := slice "projects" }}
        {{ $p := where .Site.RegularPages "Section" "in" $projects }}
        {{ range sort $p "Params.weight" }}
        <a href="{{ .RelPermalink }}">{{ .Title }}</a>
        {{ end }}
      </div>
    </div>
    <div class="hide">
      <div class="column-head" onclick="toggleSiblingClass(this,'hide')"><span>社区资源</span><span class="mb folder"></span></div>
      <div class="column-content">
        <a href="/posts">博客</a>
        <a href="/news">新闻</a>
        <a href="https://kubesphere.com.cn/forum/t/RadonDB">论坛</a>
        <a class="github" href="/">
          <img src="/images/common/github.svg" />
          <span>GitHub</span>
        </a>
      </div>
    </div>
    <div class="hide">
      <div class="column-head" onclick="toggleSiblingClass(this,'hide')"><span>服务</span><span class="mb folder"></span></div>
      <div class="column-content">
        <a href="https://www.qingcloud.com/">业务合作与咨询</a>
      </div>
      <div class="wechat">
        <div class="pc column-head">微信公众号</div>
        <img src="/images/wechat.png" />
        <div class="mb">微信扫一扫，关注RandonDB官方公众号</div>
      </div>
    </div>
    <!-- <div class="other">
      <img class="logo" src="/images/radondb.svg" />
      <div class="column-head">邮件订阅</div>
      <p>通过邮件接收 RadonDB 开源社区最新的技术博客与产品更新的通知</p>
      <div class="input flex-row fl-center space-between">
        <input placeholder="请输入您的邮箱" type="email" />
        <button class="btn">订阅</button>
      </div>
    </div> -->
  </div>
  <div class="copyright">备案信息备案信息备案信息 &copy; {{ with .Site.Copyright | default .Site.Title }} {{ . | safeHTML }} {{
    now.Format "2006"}} {{ end }}</div>
</footer>