#mc-embedded-subscribe-form {
  margin-top: 2rem;
}

#mce-EMAIL {
  background-color: #fff;
}

#mc_embed_signup input {
  border: 1px solid #ABB0B2;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

#mc_embed_signup .mc-field-group input {
  display: block;
  width: 100%;
  padding: 8px 0;
  text-indent: 2%;
}

#mc_embed_signup .mc-field-group select {
  display: inline-block;
  width: 99%;
  padding: 5px 0;
  margin-bottom: 2px;
}

#mc_embed_signup .button {
  clear: both;
  background-color: #326BF6;
  border: 0 none;
  border-radius: 4px;
  transition: all 0.23s ease-in-out 0s;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 15px;
  font-weight: normal;
  height: 32px;
  line-height: 32px;
  margin: 12px 5px 10px 0;
  padding: 0 22px;
  text-align: center;
  text-decoration: none;
  vertical-align: top;
  white-space: nowrap;
  width: fit-content;
  width: -moz-fit-content;
}

#mc_embed_signup .button:hover {
  color: #242e42;
  background-color: #fff;
}

#mc_embed_signup div.response {
  padding: 0;
  width: 100%;
}

#mc_embed_signup .mc-field-group.input-group ul {
  margin: 0;
  padding: 5px 0;
  list-style: none;
}

#mc_embed_signup .mc-field-group.input-group ul li {
  display: block;
  padding: 3px 0;
  margin: 0;
}

#mc_embed_signup .mc-field-group.input-group label {
  display: inline;
}

#mc_embed_signup .mc-field-group.input-group input {
  display: inline;
  width: auto;
  border: none;
}

#mc_embed_signup div#mce-responses {
  float: left;
  top: -1.4em;
  overflow: hidden;
  width: 100%;
  clear: both;
}

#mc_embed_signup div.response {
  margin: 1em 0;
  padding: 1em .5em .5em 0;
  font-weight: bold;
  float: left;
  top: -1.5em;
  z-index: 1;
  width: 100%;
}

#mc_embed_signup #mce-error-response {
  display: none;
}

#mc_embed_signup #mce-success-response {
  color: #529214;
  display: none;
}

#mc_embed_signup label.error {
  display: block;
  float: none;
  width: auto;
  margin-left: 1.05em;
  text-align: left;
  padding: .5em 0;
}

#mc-embedded-subscribe {
  clear: both;
  width: auto;
  display: block;
  margin: 1em 0 1em 5%;
}

#mc_embed_signup #num-subscribers {
  font-size: 1.1em;
}

#mc_embed_signup #num-subscribers span {
  padding: .5em;
  border: 1px solid #ccc;
  margin-right: .5em;
  font-weight: bold;
}

#mc_embed_signup #mc-embedded-subscribe-form div.mce_inline_error {
  display: inline-block;
  margin: 2px 0 1em 0;
  padding: 3px;
  background-color: rgba(255, 255, 255, 0.85);
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  font-size: 14px;
  font-weight: normal;
  z-index: 1;
  color: #e85c41;
}

#mc_embed_signup #mc-embedded-subscribe-form input.mce_inline_error {
  border: 2px solid #e85c41;
}
@media screen and (min-width: 769px) {
  .footer {
    padding: 77px 130px 24px 130px;
    background: #242e42;
    color: #ffffff;
    .content {
      margin-left: 50%;
      transform: translate(-50%, 0);
      width: 1180px;
      padding-bottom: 60px;
      font-size: 14px;
      line-height: 24px;
      & > div {
        height: 100%;
      }
      .column-head {
        margin-bottom: 4px;
        font-weight: 500;
        font-size: 16px;
        line-height: 22px;
      }
      a,
      p {
        display: block;
        margin-top: 16px;
        color: rgba(255, 255, 255, 0.7);
      }
      .logo {
        height: 34px;
      }
      .github {
        display: flex;
        align-items: center;
        img {
          margin-right: 4px;
        }
      }
      .wechat {
        margin-top: 40px;
        img {
          width: 100px;
          margin-top: 10px;
        }
      }
      .other {
        width: 420px;
        padding-left: 60px;
        border-left: 1px solid rgba(255, 255, 255, 0.15);
        .column-head {
          margin-top: 50px;
        }
        .input {
          width: 360px;
          height: 48px;
          margin-top: 24px;
          padding: 4px 5px 4px 20px;
          background: #f5f8f9;
          border: 1px solid #ccd3db;
          box-sizing: border-box;
          border-radius: 24px;
          .btn {
            padding: 9px 27px;
            color: #ffffff;
            background-color: #326bf6;
            box-shadow: 0px 8px 16px rgba(33, 43, 61, 0.2),
              0px 10px 50px rgba(34, 43, 62, 0.1);
            border-radius: 20px;
          }
        }
      }
    }
    .copyright {
      text-align: center;
      font-size: 14px;
      line-height: 24px;
      color: rgba(255, 255, 255, 0.5);
    }
  }
}
@media screen and (max-width: 768px) {
  .footer {
    padding: 4.33rem 1.67rem 4rem;
    background: #242e42;
    color: #ffffff;
    .other {
      .column-head {
        margin-top: 2rem;
        font-size: 1.33rem;
      }
      p {
        margin-top: 0.5rem;
        color: rgba(255, 255, 255, 0.7);
        font-size: 1.17rem;
        line-height: 1.67rem;
      }
      a {
        display: block;
      }
    }
    .content {
      flex-direction: column;
      margin-top: 2rem;
      a,
      p {
        font-size: 1.17rem;
        color: rgba(255, 255, 255, 0.7);
      }
      .column-head {
        height: 4.83rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid #1d2535;
        margin: 0 -1.67rem;
        padding: 0 1.67rem;
        .folder {
          width: 2rem;
          height: 2rem;
          background-image: url("/images/common/chevron_up.svg");
        }
      }
      .hide-content {
        .folder {
          background-image: url("/images/common/chevron_down.svg");
        }
        .column-content {
          display: none;
        }
      }
      .column-content {
        // display: none;
        display: flex;
        flex-direction: column;
        margin: 0 -1.67rem;
        padding: 1rem 2.67rem 2rem;
        background-color: #1d2535;
        a {
          margin-top: 0;
          padding-top: 1rem;
          font-size: 1.17rem;
          line-height: 2rem;
        }
        .github {
          display: flex;
          align-items: center;
          img {
            margin-right: 0.33rem;
          }
        }
      }
    }
    .btn {
      color: #ffffff;
    }
    .wechat {
      text-align: center;
      font-size: 1.17rem;
      img {
        width: 12.5rem;
        margin-top: 4rem;
        margin-bottom: 1.67rem;
      }
    }
    .copyright {
      margin-top: 4rem;
      font-size: 1rem;
      text-align: center;
      color: rgba(255, 255, 255, 0.5);
    }
  }
}
