.site-header {
  background: 0 0 / 100% no-repeat url("images/header-bg.svg");
  background-position: top right 0;
  background-color: #4069ed !important;
  position: relative;
  .banner {
    min-height: 1100px;
    max-height: 1500px;
    width: 100%;
    margin-top: -44px;
    object-fit: cover;
    object-position: 0 0;
  }
  .title {
    text-align: center;
    color: #ffffff;
    font-size: 22px;
    margin-top: 100px;
    h1 {
      font-weight: 600;
      font-size: 50px;
      line-height: 60px;
      text-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
    }
    .desc {
      margin-top: 40px;
      letter-spacing: 6px;
    }
    .project {
      height: 28px;
      margin-top: 20px;
      font-size: 20px;
      line-height: 20px;
      .item {
        display: inline-block;
        padding: 4px 8px;
        background: #242e42;
        border-radius: 4px;
        &:first-child {
          margin-left: -8px;
        }
        &:not(:first-child) {
          margin-left: 2px;
        }
      }
    }
    .feature {
      margin-top: 40px;
      line-height: 32px;
      letter-spacing: 2px;
      .star {
        display: inline-block;
        width: 136px;
        font-weight: 500;
        font-size: 22px;
        line-height: 40px;
        color: #333333;
        letter-spacing: normal;
      }
    }
  }
  .projects {
    position: absolute;
    left: 50%;
    bottom: 120px;
    color: #242e42;
    transform: translate(-50%, 0);
    .cards {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      align-content: center;
      margin-top: 60px;
      height: 382px;
      width: 1180px;
      .card {
        width: 330px;
        height: 180px;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-left: 20px;
        padding: 32px 32px 0;
        background: #ffffff;
        color: #242e42;
        border-radius: 4px;
        .name {
          font-weight: 600;
          font-size: 18px;
          line-height: 22px;
        }
        .desc {
          margin-top: 14px;
          font-size: 14px;
          line-height: 24px;
          text-align: justify;
          color: #79879c;
          display: -webkit-box;
          -webkit-line-clamp: 2;
          -webkit-box-orient: vertical;
          overflow: hidden;
        }
        .func {
          display: flex;
          justify-content: space-between;
          align-items: center;
          margin: 4px -32px 0 0;
          .more {
            color: #242e42;
          }
          .picture {
            width: 60px;
            height: 60px;
            opacity: 0.4;
            object-position: right;
            object-fit: contain;
          }
        }
      }
    }
  }
}
@media screen and (min-width: 768px) {
  .site-header {
    .projects {
      .cards {
        .card {
          &:nth-child(2n + 1) {
            margin-top: 20px;
          }

          &:first-child {
            width: 480px;
            height: 100%;
            margin: 0;
            padding: 64px 56px 0;
            .desc {
              margin-top: 24px;
              font-size: 16px;
              line-height: 28px;
              -webkit-line-clamp: 4;
            }
            .func {
              margin: 12px -56px 0 0;
              .more {
                font-size: 16px;
                line-height: 20px;
                color: #326bf6;
                .arrow-right {
                  width: 16px;
                  height: 16px;
                  background-image: url("/images/common/right-blue.svg");
                }
              }
              .picture {
                width: 105px;
                height: 132px;
              }
            }
          }
          &:hover {
            box-shadow: 0px 10px 30px rgba(36, 46, 66, 0.07);
            &:first-child {
              .func .more {
                color: rgba(#326bf6, 0.8);
              }
            }
            .func .more {
              color: #326bf6;
              .arrow-right {
                background-image: url("/images/common/right-blue.svg");
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .site-header {
    background: 0 0 / 100% no-repeat url("images/common/header-bg-mb.svg");
    background-color: transparent !important;
    background-size: 100%;
    .title {
      padding: 0 1.6rem;
      margin-top: 2.67rem;
      text-align: left;
      h1 {
        font-size: 2.34rem;
        line-height: 3.2rem;
        letter-spacing: 0rem;
      }
      .desc {
        margin-top: 1.3rem;
        font-size: 1.25rem;
        letter-spacing: 0rem;
      }
      .project {
        height: auto;
        margin-top: 0;
        .item {
          margin-top: 6px;
          padding: 2px 4px;
          font-size: 0.92rem;
          &:first-child {
            margin-left: 0;
          }
          &:not(:first-child) {
            margin-left: 0;
          }
        }
      }
      .feature {
        margin-top: 1.67rem;
        font-size: 1.25rem;
        letter-spacing: 0;
        .star {
          width: 7.33rem;
          height: 2.33rem;
          font-size: inherit;
          line-height: 2;
          text-align: center;
        }
      }
    }
    .banner {
      height: 100%;
      min-height: 0;
      margin-top: 3.67rem;
      object-fit: scale-down;
    }
    .projects {
      margin-top: -9rem;
      position: relative;
      background: #f9fbff;
      padding: 0 1.67rem;
      transform: none;
      left: 0;
      bottom: 3.33rem;
      .cards {
        margin-top: 1.67rem;
        width: 100%;
        height: auto;
        flex-wrap: nowrap;
        .card {
          width: 100%;
          height: auto;
          margin: 1.67rem 0 0 0;
          padding: 1.67rem;
          .name {
            font-size: 1.33rem;
            line-height: 1.83rem;
          }
          .desc {
            font-size: 1.17rem;
            line-height: 1.67rem;
            min-height: 6.67rem;
            -webkit-line-clamp: 4;
          }
          .func {
            margin: 0.8rem -1.67rem 0 0;
            .more {
              font-size: 1.17rem;
              line-height: 1.67rem;
              color: #326bf6;
              .arrow-right {
                background-image: url("/images/common/right-blue.svg");
              }
            }
            .picture {
              width: 5rem;
              height: 5rem;
            }
          }
        }
      }
    }
  }
}
